#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.062), rgba(85, 50, 50, 0.753)), url(../image/house.jpeg);  
    padding: 10rem 15rem 10rem 5rem;
    

    
}
.contact{
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}
#aboutus{
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: rgba(160, 153, 153, 0.308);
    padding: 50px;
    margin-right: 7rem;
    margin-left: 7rem;
}
footer{
    background-color: rgba(4, 4, 82, 0.705);
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: arial;
}
footer b{
    color: beige;
}
footer p{
    color: azure;
}
footer a{
    color: rgba(174, 230, 230, 0.562);
}
.manage{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.manage hr{
    border: 2px solid aqua;
}
.manage img{
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
}